version: '3'

services:
  jenkins:
    container_name: jenkins
    build: 
      dockerfile: ./Dockerfile.jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./:/usr/src/myproject
    networks:
      - jenkins-net

volumes:
  jenkins_home:

networks:
  jenkins-net:
